trigger:
  branches:
    include:
      - main
      - feature/dev

pool: SAgent

stages:
- stage: SecurityChecks
  displayName: "Security Checks - TFLint & TFSec"
  jobs:
  - job: TerraformSecurityScan
    displayName: "Run TFLint and TFSec"
    steps:
    - checkout: self

    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'

    - script: |
        echo "Checking TFLint version"
        tflint --version

        echo "Running TFLint scan"
        cd $(System.DefaultWorkingDirectory)/Enviornment/Dev
        tflint --init
        tflint
      displayName: "Run TFLint"

    - task: tfsec@1
      displayName: Run TFSec
      inputs:
        version: 'v1.26.0'
        dir: '$(System.DefaultWorkingDirectory)/Enviornment/Dev'

- stage: TerraformPlan
  dependsOn: SecurityChecks
  displayName: Terraform Plan tak ka process
  jobs:
  - job: InfraProvision
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTask@5
      displayName: Terraform Init
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Enviornment/Dev'
        backendServiceArm: 's_connection'
        backendAzureRmStorageAccountName: 'sanaytoy'
        backendAzureRmContainerName: 'anjaycontainer'
        backendAzureRmKey: 'dev_terraform.tfstate'

    - task: TerraformTask@5
      displayName: Terraform Validate
      inputs:
        provider: 'azurerm'
        command: 'validate'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Enviornment/Dev'

    - task: TerraformTask@5
      displayName: Terraform Plan
      inputs:
        provider: 'azurerm'
        command: 'plan'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Enviornment/Dev'
        environmentServiceNameAzureRM: 's_connection'

- stage: ManualApproval
  dependsOn: TerraformPlan
  displayName: Manual Approval jaruri h
  jobs:
  - job: ManualValidation
    pool: server
    steps:
    - task: ManualValidation@1
      inputs:
        notifyUsers: 'cloud.sanjaysingh@gmail.com'
        approvers: 'Sanjay'

- stage: TerraformApply
  dependsOn: ManualApproval
  displayName: Terraform Apply chalana
  jobs:
  - job: ApplyInfra
    steps:
    - checkout: self

    - task: TerraformTask@5
      displayName: Terraform Init
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Enviornment/Dev'
        backendServiceArm: 's_connection'
        backendAzureRmStorageAccountName: 'sanaytoy'
        backendAzureRmContainerName: 'sanjaycontainer'
        backendAzureRmKey: 'dev_terraform.tfstate'

    - task: TerraformTask@5
      displayName: Terraform Apply
      inputs:
        provider: 'azurerm'
        command: 'apply'
        workingDirectory: '$(System.DefaultWorkingDirectory)/Enviornment/Dev'
        environmentServiceNameAzureRM: 's_connection'
