trigger:
 branches:
   include:
     - main
     - feature/dev

pool: SAgent

stages:
# ---------------- SECURITY ----------------
- stage: SecurityChecks
  displayName: "Security Checks - TFLint & TFSec"
  jobs:
  - job: TerraformSecurityScan
    steps:
    - checkout: self

    - script: |
        tflint --version
        cd $(System.DefaultWorkingDirectory)/Enviornment/Dev
        tflint --init
        tflint
      displayName: Run TFLint

    # - script: |
    #     tfsec "$(System.DefaultWorkingDirectory)/Enviornment/Dev" --minimum-severity HIGH --no-color
    #   displayName: Run TFSec
    #   continueOnError: true
    - task: tfsec@1
      inputs:
        version: 'v1.26.0'
        dir: '.'

# ---------------- PLAN ----------------
- stage: TerraformPlan
  dependsOn: SecurityChecks
  jobs:
  - job: Plan
    steps:
    - checkout: self

    - task: TerraformTask@5
      displayName: Terraform Init
      inputs:
        provider: azurerm
        command: init
        workingDirectory: $(System.DefaultWorkingDirectory)/Enviornment/Dev
        backendServiceArm: s_connection
        backendAzureRmStorageAccountName: sanaytoy
        backendAzureRmContainerName: sanjaycontainer
        backendAzureRmKey: dev_terraform.tfstate

    - task: TerraformTask@5
      displayName: Terraform Plan
      inputs:
        provider: azurerm
        command: plan
        workingDirectory: $(System.DefaultWorkingDirectory)/Enviornment/Dev
        environmentServiceNameAzureRM: s_connection

# ---------------- APPROVAL ----------------
- stage: ManualApproval
  dependsOn: TerraformPlan
  jobs:
  - job: Approval
    pool: server
    steps:
    - task: ManualValidation@1
      inputs:
        notifyUsers: cloud.sanjaysingh@gmail.com

# ---------------- APPLY ----------------
- stage: TerraformApply
  dependsOn: ManualApproval
  jobs:
  - job: Apply
    steps:
    - checkout: self

    - task: TerraformTask@5
      displayName: Terraform Init
      inputs:
        provider: azurerm
        command: init
        workingDirectory: $(System.DefaultWorkingDirectory)/Enviornment/Dev
        backendServiceArm: s_connection
        backendAzureRmStorageAccountName: sanaytoy
        backendAzureRmContainerName: sanjaycontainer
        backendAzureRmKey: dev_terraform.tfstate

    - task: TerraformTask@5
      displayName: Terraform Apply
      inputs:
        provider: azurerm
        command: apply
        workingDirectory: $(System.DefaultWorkingDirectory)/Enviornment/Dev
        environmentServiceNameAzureRM: s_connection